<Variables>
	<ProjectName>
		<Value>naas2</Value>
	</ProjectName>
	<LETool>
		<Value>false</Value>
	</LETool>
	<DataFile>
		<Value>patch.pkg</Value>
	</DataFile>
	<MKDI>
		<Value>false</Value>
	</MKDI>
	<UpdateURL>
		<Value>https://api.fynn93.tech/naas/update.xml</Value>
	</UpdateURL>
	<Version>
		<Value>2.0.0.0</Value>
	</Version>
	<ID>
		<Value>RMC.N2</Value>
	</ID>
	<Region>
		<Value>1234</Value>
	</Region>
</Variables>